@media screen and (max-width: 668px) {

    .body-overflow_hidden {
        overflow: hidden;
    }

    .section-menu {
        background-color: rgb(48, 25, 0);
        position: fixed;
        z-index: 10;
        left: 0;
        top: 0px;
        width: 100%;
        height: 100%;
        overflow-y: auto;
        padding: 6rem;
        padding-top: 16rem;

        left: 100%;
        transition: left 0.3s;
    }

    .section-menu ul {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
    }
    
    .section-menu li {
        line-height: 90px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .section-menu a {
        font-size: 2.5rem;
    }

    header .bars-menu {
        position: absolute;
        z-index: 100;
        display: block;
    }  

    .nav-menu_visible {
        left: 0%;
    }

    header {
        padding: 1rem;
        padding-top: 2rem;
        padding-left: 2rem;
        padding-right: 2rem;
        justify-content: start;
    }
    
    header .divLogo {
        width: 70%;
    }
    
    header .divLogo p {
        margin: 0;
    }
    
    main .home-page {
        height: 98vh;
    }
    
    main .home-page .home-page-text {
        width: 100%;
        padding-left: 2rem;
        padding-right: 0;
    }
    
    main .home-page .home-page-text h1 {
        font-size: 5rem;
    }
    
    main .container-cards .cards-s1 {
        height: 100%;
        gap: 1rem;
        padding: 7rem;
        padding-left: 2rem;
        padding-right: 2rem;
        padding-bottom: 0;
    }
    
    main .container-cards .cards-s2 {
        height: 100%;
        gap: 1rem;
        padding: 7rem;
        padding-left: 2rem;
        padding-right: 2rem;
        padding-top: 1rem;
    }
    
    main .container-cards .cards-s1 div {
        padding: 2rem;
    }
    
    main .container-cards .cards-s2 div {
        padding: 2rem;
    }
    
    main .container-cards div img {
        width: 60px;
        height: 60px;
    }
    
    main .container-cards div h2 {
        font-size: 5rem;
    }
    
    main .container-cards div p {
        font-size: 2rem;
        text-align: center;
    }
    
    main .container-frase {
        height: 90vh;
        background-position: center center;
    }
    
    main .container-frase h1 {
        font-size: 6rem;
        padding: 2rem;
    }
    
    main .container-memories {
        padding: 8rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    
    main .container-memories h2 {
        font-size: 5rem;
    }
    
    main .container-memories .memories {
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    main .container-memories .memories img {
        aspect-ratio: 2/1.4;
    }
    
    main .container-experience {
        height: 100%;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    
    main .container-experience p {
        width: 90%;
        font-size: 2rem;
    }
    
    main .container-eventos {
        height: 100%;
        padding-left: 2rem;
        padding-right: 2rem;
        margin-bottom: 0;
        grid-template-columns: 1fr;
    }

    main .container-eventos div h2 {
        font-size: 3rem;
    }
    
    main .container-questions {
        height: 100%;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    
    main .container-questions .questions {
        grid-template-columns: 1fr;
    }

    main .container-questions .questions p {
        font-size: 1.5rem;
    }
    
    #footer {
        padding: 2rem;
        padding-top: 4rem;
        padding-bottom: 4rem;
        gap: 2rem;
        display: grid;
        grid-template-columns: 1fr;
        margin-top: 7rem;
    }
    
    footer .section-right .redes-sociales {
        display: grid;
        grid-template-columns: 1fr 3fr;
    }

    footer .section-right .redes-sociales .parrafos p {
        margin-bottom: 0;
        margin-top: .2rem;
    }

    footer .section-right .redes-sociales .parrafos .parrafo-jardin {
        margin-bottom: 38px;
        margin-top: 0;
    }

    /* Estilos para cotiza tu evento */

    .header-cotiza {
        justify-content: center;
        padding: 0;
    }

    .header-cotiza .title {
        font-size: 3rem;
    }

    .container {
        width: 100%;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .container input {
        float: none;
        width: 100%;
    }

    .container .inputCalendar {
        width: 50%;
        float: left;
    }

    .container select {
        width: 100%;
        float: none;
    }

    .container .descripcion {
        width: 100%;
        height: 150px;
    }

    .container .botonServicios {
        width: 50%;
        height: 60px;
    }

    .container .checkbox {
        position: relative;
        left: 160px;
        width: 15px;
        height: 15px;
        margin-left: -20px;
    }

    .container .buttons {
        margin-bottom: 20px;
    }

    .container .buttons .botonCalcular {
        width: 90%;
        height: 50px;
    }

    .container .buttons .botonEnviar {
        width: 60%;
        margin-left: 20px;
    }

    .alert-total {
        width: 300px;
        height: 170px;
        font-size: 12px;
    }
    
    .alert-celular {
        padding: 10px;
        height: 100px;
    }
    
    .alert-otros-servicios {
        height: 180px;
        border-radius: 10px;
        font-size: 17px;
        padding: 10px;
    }

}