* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Spline Sans Mono', monospace;
    color: whitesmoke;
}

header .bars-menu {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translate(-50%, -50%) scale(1.5);
    cursor: pointer;
    display: none;
}

header .bars-menu span {
    display: block;
    width: 100%;
    height: 2px;
    background-color: whitesmoke;
    margin-top: 6px;
    transform-origin: 0px 100%;
    transition: all 300ms;
}

.active_line1_bars-menu {
    transform: rotate(45deg) translate(-2px, 1px);
}

.active_line2_bars-menu {
    opacity: 0;
    margin-left: -30px;
}

.active_line3_bars-menu {
    transform: rotate(-45deg) translate(-4px, 2px);
}

header {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    background-color: transparent;
    padding: 1rem;
    padding-top: 8rem;
    padding-left: 18rem;
    padding-right: 18rem;
    align-items: center;
    justify-content: center;
    z-index: 10;
    transition: background-color 0.3s ease-in-out;
}

header.scrolled {
    background-color: rgb(48, 25, 0);
    padding-top: 1.5rem;
}

header a{
    text-decoration: none;
    font-size: 2rem;
    color: #F1FAEE;
}

header .divLogo {
    width: 30%;
    height: auto;
}

header .divLogo p {
    margin: 0;
}

header .section-menu a:hover {
    color: #969696;
}

header .section-menu ul {
    display: flex;
    gap: 4rem;
    list-style: none;
    justify-content: flex-end;
}

main .home-page {
    position: relative;
    width: 100%;
    height: 100vh;
}

main .home-page .home-page-video {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
    object-fit: cover;
}

main .home-page .home-page-text {
    width: 80%;
    height: 100%;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 3.5rem;
    padding-left: 18rem;
    padding-right: 18rem;
}

main .home-page .home-page-text h1 {
    font-size: 7rem;
    font-family: 'Elsie', cursive;
    margin-top: 18rem;
}

main .home-page .home-page-text button {
    padding: 1rem 2rem 1rem 2rem;
    margin-top: 4rem;
    font-size: 1.8rem;
    font-weight: 600;
    background-color: rgb(48, 25, 0);
    color: #F2F2F2;
    border: none;
    border-radius: 1rem;
}

main .home-page .home-page-text button:hover {
    background-color: #F2F2F2;
    color: rgb(48, 25, 0);
}

main .container-cards .cards-s1 {
    position: relative;
    width: 100%;
    height: 50vh;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
    padding: 8rem;
    padding-left: 18rem;
    padding-right: 18rem;
    padding-bottom: 0;
}

main .container-cards .cards-s2 {
    position: relative;
    width: 100%;
    height: 50vh;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2rem;
    padding: 8rem;
    padding-left: 18rem;
    padding-right: 18rem;
    padding-top: 2rem;
}

main .container-cards .cards-s1 div {
    background-color: #F2F2F2;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
}

main .container-cards .cards-s2 div {
    background-color: #F2F2F2;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
}

main .container-cards div img {
    width: 120px;
    height: 120px;
}

main .container-cards div h2 {
    font-size: 8rem;
}

main .container-cards div p {
    font-size: 3rem;
}

main .container-frase {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url(../resources/jardinImg5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

main .container-frase h1 {
    font-family: 'Elsie', cursive;
    margin: 0;
    font-size: 7.3rem;
    text-align: center;
}

main .container-memories {
    position: relative;
    width: 100%;
    padding: 8rem;
    padding-left: 18rem;
    padding-right: 18rem;
}

main .container-memories h2 {
    font-family: 'Elsie', cursive;
    color: rgb(48, 25, 0);
    font-size: 5rem;
}

main .container-memories .memories {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;
    margin-top: 6rem;
}

main .container-memories .memories img {
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    object-fit: cover;
}

main .container-memories .memories img:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
  }

main .container-experience {
    position: relative;
    width: 100%;
    height: 85vh;
    padding: 8rem;
    padding-left: 18rem;
    padding-right: 18rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main .container-experience h2 {
    font-family: 'Elsie', cursive;
    color: rgb(48, 25, 0);
    font-size: 5rem;
}

main .container-experience p {
    width: 60%;
    color: rgb(48, 25, 0);
    font-size: 2.5rem;
    margin-top: 4rem;
}

main .container-eventos {
    position: relative;
    width: 100%;
    height: 85vh;
    padding: 8rem;
    padding-left: 18rem;
    padding-right: 18rem;
    margin-bottom: 14rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}

main .container-eventos div {
    background-color: #F2F2F2;
    color: black;
    padding: 3rem;
    text-align: start;
    border-radius: 2rem;
    gap: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main .container-eventos div h2 {
    display: flex;
    font-size: 4rem;
    margin-top: 4rem;
}

main .container-eventos div .p1 {
    margin-top: 4rem;
}

main .container-eventos div p {
    font-size: 1.7rem;
}

main .container-eventos div button {
    width: 100%;
    height: 50px;
    font-size: 1.5rem;
    background-color: black;
    color: #F2F2F2;
    border-radius: 1rem;
    border: none;
}

main .container-eventos div button:hover {
    background-color: #F2F2F2;
    border: 1px solid black;
    color: black;
}

main .container-questions {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 8rem;
    padding-left: 18rem;
    padding-right: 18rem;
    margin-bottom: 10rem;
}

main .container-questions h2 {
    font-family: 'Elsie', cursive;
    color: rgb(48, 25, 0);
    font-size: 5rem;
}

main .container-questions .questions {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4rem;
    margin-top: 8rem;
    color: rgb(48, 25, 0);
}

main .container-questions .questions h3 {
    font-size: 2.2rem;
    text-align: start;
    font-weight: 600;
}

main .container-questions .questions p {
    font-size: 1.8rem;
    margin-top: 2.5rem;
    text-align: justify;
}

#footer {
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    background-color: #F2F2F2;
    color: rgb(48, 25, 0);
    padding: 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
  }

  .footer-bottom {
    background-color: rgb(48, 25, 0);
    padding: 1rem;
    text-align: center;
  }

  .footer-bottom p {
    margin: 0;
  }

  .footer-bottom a {
    text-decoration: none;
    color: #F2F2F2;
  }

  footer h3 {
    font-size: 2.1rem;
    font-weight: 600;
}

footer .section-left h3 {
    margin-bottom: 30px;
    color: rgb(48, 25, 0);
}

footer .section-left i {
    padding-right: 1rem;
}

footer .section-left p {
    padding-top: 10px;
    font-size: 1.7rem;
}

footer .section-mid {
    padding-left: 1rem;
}

footer .section-mid .horario {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 1.7rem;
}

footer .section-mid h3 {
    margin-bottom: 40px;
    color: rgb(48, 25, 0);
}

footer .section-mid h5 {
    margin-bottom: 10px;
    font-size: 1.7rem;
}

footer .section-mid .parrafo-cita {
    font-size: 1.4rem;
    margin-top: 2rem;
}

footer .section-right h3 {
    margin-bottom: 30px;
    color: rgb(48, 25, 0);
}

footer .section-right img {
    width: 32px;
    height: 32px;
}

footer .section-right .redes-sociales {
    display: grid;
    grid-template-columns: 2fr 3fr;
}

footer .section-right .redes-sociales a {
    text-decoration: none;
    color: rgb(48, 25, 0);
}

footer .section-right .redes-sociales .icons {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-top: 10px;
}

footer .section-right .redes-sociales .icons .facebook {
    margin-bottom: 33px;
}

footer .section-right .redes-sociales .parrafos {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: self-start;
    margin-left: 20px;
    font-size: 17px;
}

footer .section-right .redes-sociales .parrafos .parrafo-jardin {
    margin-bottom: 40px;
}

@media screen and (min-width: 1024px) and (max-width: 1920px) {

    .section-menu {
        width: 80%;
        height: auto;
    }
}