@media screen and (min-width: 668px) and (max-width: 1339px) {
    header {
        padding: 1rem;
        padding-top: 5rem;
        padding-left: 4rem;
        padding-right: 4rem;
        justify-content: start;
    }
    
    header .divLogo {
        width: 70%;
    }
    
    header .divLogo p {
        margin: 0;
    }
    
    header .section-menu ul {
        gap: 2rem;
    }

    main .home-page {
        height: 100vh;
    }
    
    
    main .home-page .home-page-text {
        padding-left: 4rem;
        padding-right: 4rem;
    }
    
    main .home-page .home-page-text h1 {
        font-size: 6rem;
    }
    
    main .container-cards .cards-s1 {
        height: 40vh;
        gap: 1rem;
        padding: 7rem;
        padding-left: 4rem;
        padding-right: 4rem;
        padding-bottom: 0;
        
    }
    
    main .container-cards .cards-s2 {
        height: 40vh;
        gap: 1rem;
        padding: 7rem;
        padding-left: 4rem;
        padding-right: 4rem;
        padding-top: 1rem;
    }
    
    main .container-cards .cards-s1 div {
        padding: 2rem;
    }
    
    main .container-cards .cards-s2 div {
        padding: 2rem;
    }
    
    main .container-cards div img {
        width: 60px;
        height: 60px;
    }
    
    main .container-cards div h2 {
        font-size: 5rem;
    }
    
    main .container-cards div p {
        font-size: 2rem;
        text-align: center;
    }
    
    main .container-frase {
        height: 90vh;
        background-position: center center;
    }
    
    main .container-frase h1 {
        font-size: 6rem;
        padding: 4rem;
    }
    
    main .container-memories {
        padding: 8rem;
        padding-left: 4rem;
        padding-right: 4rem;
    }
    
    main .container-memories h2 {
        font-size: 5rem;
    }
    
    main .container-memories .memories {
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }
    
    main .container-experience {
        height: 100%;
        padding-left: 4rem;
        padding-right: 4rem;
    }
    
    main .container-experience p {
        width: 90%;
        font-size: 2rem;
    }
    
    main .container-eventos {
        height: 100%;
        padding-left: 2rem;
        padding-right: 2rem;
        margin-bottom: 0;
        grid-template-columns: 1fr 1fr;
    }

    main .container-eventos div h2 {
        font-size: 3rem;
    }
    
    main .container-questions {
        height: 100%;
        padding-left: 4rem;
        padding-right: 4rem;
    }
    
    main .container-questions .questions {
        grid-template-columns: 1fr;
    }

    main .container-questions .questions p {
        font-size: 1.5rem;
    }
    
    #footer {
        padding: 4rem;
        padding-top: 6rem;
        padding-bottom: 6rem;
        gap: 4rem;
        display: grid;
        grid-template-columns: 1fr;
        margin-top: 7rem;
    }
    
    footer .section-right .redes-sociales {
        display: grid;
        grid-template-columns: 2fr 3fr;
    }

    footer .section-right .redes-sociales .parrafos p {
        margin-bottom: 0;
        margin-top: .2rem;
    }

    footer .section-right .redes-sociales .parrafos .parrafo-jardin {
        margin-bottom: 38px;
        margin-top: 0;
    }

    /* Estilos para cotiza tu evento */

    .header-cotiza {
        padding: 0;
        justify-content: center;
    }

    .container {
        width: 80%;
        margin-bottom: 50px;
    }

    .alert-total {
        width: 300px;
        height: 170px;
        font-size: 12px;
    }
    
    .alert-celular {
        padding: 10px;
        height: 100px;
    }
    
    .alert-otros-servicios {
        height: 100px;
        border-radius: 10px;
        font-size: 17px;
        padding: 10px;
    }

}

@media screen and (min-width: 668px) and (max-height: 414px) {

    main .home-page {
        height: 100%;
    }
    
    main .container-cards .cards-s1 {
        height: 100%;
    }
    
    main .container-cards .cards-s2 {
        height: 100%;
    }

    main .container-frase {
        height: 100vh;
    }

}