@media screen and (max-width: 668px) {

    .body-overflow_hidden {
        overflow: hidden;
    }

    .section-menu {
        background-color: rgb(48, 25, 0);
        position: fixed;
        z-index: 10;
        left: 0;
        top: 90px;
        width: 100%;
        height: calc(100% - 90px);
        overflow-y: auto;
        padding-top: 6rem;

        left: 100%;
        transition: left 0.3s;
    }

    .section-menu ul {
        margin: 0;
        padding: 0;
    }
    
    .section-menu li {
        display: flex;
        flex-direction: column;
        padding: 30px;
        align-items: center;
        font-size: 3rem;
        line-height: 80px;
        position: relative;
        top: -50px;
    }

    header .bars-menu {
        display: block;
    }
    

    .nav-menu_visible {
        left: 0%;
    }

    header .divLogo {
        padding-left: 0;
    }

    main .home-page .home-page-text {
        text-align: center;
    }

    main .home-page .home-page-text h1 {
        font-size: 3rem;
    }
    
    main .home-page .home-page-text h2 {
        font-size: 2rem;
    }
    
    main .home-page .home-page-text a {
        font-size: 1.5rem;
    }

    main .container-informacion {
        height: 150vh;
    }

    main .container-informacion h1 {
        font-size: 3rem;
    }

    main .container-informacion .informacion {
        height: 80%;
        display: grid;
        gap: 1rem;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
        font-size: 1.5rem;
    }

    main .container-informacion .carousel {
        height: 70%;
    }

    main .container-eventos {
        height: 200vh;
        padding-top: 8rem;
        margin-top: 4.2rem;
    }

    main .container-eventos .titulo-eventos {
        font-size: 3rem;
    }

    main .container-eventos .eventos {
        height: 150vh;
        grid-template-columns: 1fr;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    main .container-eventos .eventos div h1 {
        font-size: 2rem;
    }
    
    main .container-eventos .eventos div p {
        font-size: 1.4rem;
    }

    main .container-eventos .eventos img {
        width: 100%;
        height: 180px;
        padding-top: 0;
    }

    #footer {
        bottom: -3050px;
        padding: 2rem;
        padding-top: 4rem;
        padding-bottom: 4rem;
        gap: 3rem;
        grid-template-columns: 1fr;
    }

    footer .section-right .redes-sociales .icons {
        padding-right: 2rem;
    }

    footer .section-right .redes-sociales .parrafos {
        margin-left: 0;
    }

}

@media screen and (min-height: 688px) {
    main .container-informacion {
        height: 100vh;
    }

    main .container-informacion .carousel {
        height: 90%;
    }

    main .container-eventos .eventos {
        height: 110vh;
    }

    main .container-eventos {
        padding-top: 10rem;
    }

    main .container-eventos .eventos img {
        height: 210px;
        padding-top: 2rem;
    }

    #footer {
        bottom: -2900px;
    }

}