@media screen and (max-width: 668px) {

    .body-overflow_hidden {
        overflow: hidden;
    }

    .section-menu {
        background-color: rgb(48, 25, 0);
        position: fixed;
        z-index: 10;
        left: 0;
        top: 90px;
        width: 100%;
        height: calc(100% - 90px);
        overflow-y: auto;
        padding-top: 6rem;

        left: 100%;
        transition: left 0.3s;
    }

    .section-menu ul {
        margin: 0;
        padding: 0;
    }
    
    .section-menu li {
        display: flex;
        flex-direction: column;
        padding: 30px;
        align-items: center;
        font-size: 3rem;
        line-height: 80px;
        position: relative;
        top: -50px;
    }

    header .bars-menu {
        display: block;
    }
    

    .nav-menu_visible {
        left: 0%;
    }

    header .divLogo {
        padding-left: 0;
    }

    main .home-page .home-page-text {
        text-align: center;
    }

    main .home-page .home-page-text h1 {
        font-size: 3.5rem;
    }
    
    main .home-page .home-page-text h2 {
        font-size: 2rem;
    }
    
    main .home-page .home-page-text a {
        font-size: 1.7rem;
    }

    main .container-informacion {
        width: 100%;
        height: 1000px;
        padding-top: 10rem;
    }

    main .container-informacion h1 {
        font-size: 3rem;
    }

    main .container-informacion .informacion {
        height: 100%;
        display: grid;
        gap: 1rem;
        grid-template-rows: 2fr 1fr;
        grid-template-columns: 1fr;
        font-size: 1.7rem;
        margin-top: 2rem;
    }

    main .container-informacion .carousel {
        display: flex;
        height: 220px;
    }

    main .container-eventos {
        height: 100%;
        padding-top: 10rem;
    }

    main .container-eventos .titulo-eventos {
        font-size: 3rem;
    }

    main .container-eventos .eventos-grid {
        height: 100%;
        grid-template-columns: 1fr;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        gap: 0;
    }

    main .container-eventos .eventos-grid .evento h3 {
        font-size: 2.6rem;
    }
    
    main .container-eventos .eventos-grid .evento p {
        font-size: 1.5rem;
    }

    main .container-eventos .eventos-grid .evento img {
        width: 100%;
        height: 200px;
        margin-bottom: 1rem;
    }

    #footer {
        padding: 2rem;
        padding-top: 4rem;
        padding-bottom: 4rem;
        gap: 3rem;
        grid-template-columns: 1fr;
    }

    footer .section-right .redes-sociales .icons {
        padding-right: 2rem;
    }

    footer .section-right .redes-sociales .parrafos {
        font-size: 1.8rem;
        margin-left: 0;
    }

}